@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
}
.nav {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
}
.main-header-logo {
    margin-right: 30px;
}
.nav-list {
    
    padding: 0;
    list-style: none;
    width: 350px;    
}
.nav-user {
    width: 270px;
    margin-left: auto;
}
.nav-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    text-decoration: none;
}
.nav-link.button {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}
.Welcome {
    background-image: url("../images/background/index-background-1.jpg");    
    color: #ffffff;
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;    
}
.logo, 
.divider {
    display: block;
    margin: 0 auto;    
}

.aboutSedona h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.aboutSedona p {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}
.advantages-container {
    display: flex;
    margin: 0;
    padding: 0;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}


.advantages-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;    
}
.number {
    text-align: center;
    text-transform: uppercase;
    display: block;   
}
.advantages-description {
    text-align: center;    
}

.white {
    color: #ffffff;
}
.advantages-item {
    background-color: #83B3D3;
    width: 400px;   
     
}
.advantages-item:nth-child(3), 
.advantages-item:nth-child(5),
.advantages-item:nth-child(8),
.advantages-item:nth-child(10){
    background-color: #f0f6fa;
}
    
.advantages-item:nth-child(4) {
    background-color: #ffffff;
}
.advantages-item:nth-child(9) {
    background-color: #e6f0f6;
}    

.registration h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.registration p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.registration.button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.subscribe h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
.subscribe p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}
.subscribe-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;    
    text-transform: uppercase;
}
.subscribe {
    background-image: url("../images/background/index-background-2.jpg");    
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.main-footer {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    
}
.footer-social {
    max-width: 110px;
    margin-right: auto;
}
.footer-social-list{
    list-style: none;
}
.footer-contacts{
    width: 400px;
   
}
.footer-logo {
    max-width: 120px;
    margin-left: auto; 
}
.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;   
    text-decoration: none;    
}

.catalog-hotel {
    color: #ffffff;
    
}

.catalog-hotel h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;   
}
.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;    
    color: #ffffff; 
    text-decoration: none;    
}
.catalog-filter-container {
    display: flex;
    margin-left: 71px;
    
     
}
.catalog-sorting-container {
    display: flex;
    width: 1057px;
    margin: 0 auto;
}
.sorting {
    width: 337px;
}
.form-sorting {
    width: 287px;
}

.catalog-sorting p {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;   
    text-transform: uppercase;
}
.catalog-hotel {
    background-image: url("../images/background/catalog-background.jpg");    
    background-color: #000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.button-add {
    font-size: 16px;
    line-height: 21px;    
    color: #ffffff; 
    text-align: center;  
    text-transform: uppercase;
    background-color: #83B3D3;
}
.button-reset {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;    
    color: #ffffff; 
    text-align: center;   
}
.hotel-card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;   
    text-decoration: none;    
}
.hotel-card span {
    font-size: 18px;
    line-height: 23px;    
}
.hotel-card .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;   
    text-decoration: none;
}
.rating {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}
.pagination-load-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.catalog-page h2 {
    color: #000000;
}
.catalog-page p {
    color: #000000;
}
